---
import type { Author } from "../types/types";

interface Props {
  authors: Author[];
}

const { authors } = Astro.props;

// Create a mapping of institutions to indices
const institutionMap = new Map();
let institutionIndex = 1;
const authorsWithIndices = authors.map((author) => {
  if (!institutionMap.has(author.institution)) {
    institutionMap.set(author.institution, institutionIndex);
    institutionIndex++;
  }
  return {
    ...author,
    institutionIndex: institutionMap.get(author.institution),
  };
});

---

<div class="text-center">
  <!-- Render all authors in one line with institution indices as superscript -->
  <div class="flex justify-center flex-wrap gap-x-8 gap-y-4">
    {
      authorsWithIndices.map((author) => (
        <div class="flex flex-col items-center">
          <span class="text-lg font-semibold">
            {author.url ? (
              <a href={author.url} class="hover:underline">
                {author.name}
              </a>
            ) : (
              author.name
            )}
            {author.institution && (
              <sup class="text-sm text-gray-500 ml-2">{author.institutionIndex}</sup>
            )}
          </span>
        </div>
      ))
    }
  </div>

  <!-- Render institutions with their indices on a separate line -->
  <p class="text-lg mt-4">
    {
      authorsWithIndices.map((author, index) => author.institution ? (
        <span key={index} class="text-md">
          <sup class="text-sm text-gray-500">{author.institutionIndex}</sup> {author.institution}
          {index < authorsWithIndices.length - 1 && <span class="mr-4"/>}
        </span>
      ) : null)
    }
  </p>
</div>
